<a href="https://colab.research.google.com/github/2303A51780/Python_DataScience_Batch-12/blob/main/Assingment4(lab_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv("/content/student_scores.csv")

df = data.fillna(data.mean(numeric_only = True))

print(df)

   Student_ID    Name   Math  Science  English
0           1    Amit  88.00   92.000    81.00
1           2   Priya  76.00   79.875    79.00
2           3     Raj  78.75   85.000    84.00
3           4   Sneha  59.00   61.000    79.75
4           5   Karan  90.00   88.000    91.00
5           6   Meena  67.00   70.000    72.00
6           7   Arjun  82.00   79.875    80.00
7           8    Neha  78.75   78.000    77.00
8           9    Ravi  95.00   96.000    79.75
9          10  Simran  73.00   69.000    74.00

In [11]:
high = df[(df["Math"]>75) & (df["Science"]>75) & (df["English"]>75)]
print(high)

   Student_ID   Name   Math  Science  English
0           1   Amit  88.00   92.000    81.00
1           2  Priya  76.00   79.875    79.00
2           3    Raj  78.75   85.000    84.00
4           5  Karan  90.00   88.000    91.00
6           7  Arjun  82.00   79.875    80.00
7           8   Neha  78.75   78.000    77.00
8           9   Ravi  95.00   96.000    79.75

In [14]:
import numpy as np
import pandas as pd

df = pd.read_csv("/content/patients (1).csv")

df_filled = df.fillna(df.median(numeric_only=True))
print(df_filled)

   Patient_ID       Name   Age  Gender     Diagnosis Admission_Date
0         101      Alice  65.0  Female      Diabetes     2023-01-12
1         102        Bob  60.0    Male  Hypertension     2023-02-15
2         103  Catherine  54.0  Female      Diabetes     2023-03-10
3         104      David  45.0    Male        Asthma     2023-04-05
4         105        Eva  70.0  Female           Flu     2023-05-20
5         106      Fiona  60.0  Female      Diabetes     2023-06-18
6         107     George  60.0    Male      Diabetes     2023-07-22

In [16]:
f = df[(df["Age"]>50) & (df["Diagnosis"] == "Diabetes")]
print(f)

   Patient_ID       Name   Age  Gender Diagnosis Admission_Date
0         101      Alice  65.0  Female  Diabetes     2023-01-12
2         103  Catherine  54.0  Female  Diabetes     2023-03-10
6         107     George  60.0    Male  Diabetes     2023-07-22